/* app css stylesheet */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
    font-family: 'Open Sans', sans-serif;
    overflow-y: scroll;
}

.background {
    position: fixed;
    left: 0px;
    background: #e9e9e9 url(../img/bg.jpg) repeat 0 0;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: -1;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

td.editable {
    padding: 0px !important;
    background: rgba(255, 251, 149, 0.6);
}
td.editable input, td.editable select {
    background: transparent;
    border: 0px;
    width:100%;
    height:100%;
    padding:5px;
}
td.editable select {
    padding-left:0px;
}

.widget-fixed .widget-header {
    position: fixed !important;
    height: 50px;
    line-height: 50px;
    top: 50px;
    width: 1140px;
    z-index:1;
}

.widget-fixed .widget-content {
    margin-top: 30px;
}

.widget-fixed .widget-header .btn {
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 10px;
}

.widget-header .btn {
    margin-top: 5px;
    padding-top: 2px;
    padding-bottom: 3px;
    margin-right: 10px;
}

.widget-header .btn em {
    margin-right: 10px;
    margin-left: 2px;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

body {
    padding-top: 60px;
}

.navbar-brand img {
    width: 120px;
}

.widget-header em {
    margin-left: 10px;
}

.table-hover tr:hover {
    cursor: pointer;
}

.cache-loading {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 100000;
    background: rgba(100,100,100,.9);
}

.modal {
    display: inherit;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, .8);
}

.notifications {
    position: fixed;
    z-index: 9999;
}

.notifications.top-right {
    right: 10px;
    top: 25px;
}

.notifications.top-left {
    left: 10px;
    top: 25px;
}

.notifications.bottom-left {
    left: 10px;
    bottom: 25px;
}

.notifications.bottom-right {
    right: 10px;
    bottom: 25px;
}

.notifications > div {
    position: relative;
    z-index: 9999;
    margin: 5px 0px;
}

.notifications.center {
    top: 48%;
    left: 0;
    width: 100%;
}

.notifications.center > div {
    margin: 5px auto;
    width: 20%;
    text-align: center;
}

.widget-header input {
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
}

.control-div {
    padding-top: 7px;
}
.form-condensed .form-group {
    margin-bottom: 5px;
}



@media (max-width: 767px) {

    body {
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .navbar-header {
        position: fixed;
        width: 100%;
    }

    .dropdown-menu .divider {
        width: 50px;
        margin-left: 30px;
    }

    .container > .navbar-collapse {
        position: absolute;
        top: 48px;
        z-index: 1000;
        background: #292929;
        width: 100%;
    }

    .container > .navbar-header, .container > .navbar-collapse {
        margin-left: 0px;
        margin-right: 0px;
    }

    .widget-fixed .widget-header {
        width: 100%;
        top: 50px;
        left: 0px;
    }
}

@media (min-width: 0px) and (max-width: 767px) {

    .nav-bar {
        margin-right: 0px;
    }
}

@media (max-width: 768px) {

    #navbar-main {
        left: 0px;
        padding-left: 20px;
    }
}

@media (min-width: 768px) {
    .widget-fixed .widget-header {
        width: 720px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {

    body {
        padding-top: 0px;
    }

    .widget-fixed .widget-header {
        width: 694px;
        top: 55px;
    }

    .container > .navbar-collapse {
        position: fixed;
        left: 0px;
        z-index: 20;
        padding-left: 0px;
        background: #292929;

    }
}

@media (max-width: 979px) {

    body {
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .container {
        padding-left: 0px;
        padding-right: 0px;
        max-width: 100%;
        width: 100%;
    }

    .navbar-header {
        position: fixed;
        width: 100%;
        z-index: 10;
        background: #292929;
    }

    .dropdown-menu .divider {
        width: 50px;
        margin-left: 30px;
    }

    .navbar-brand {
        position: fixed;
        left: 0px;
    }

    .navbar-brand img {

        z-index: 10;
    }

    .navbar-header {
        left: 0px;
    }

    .container > .navbar-collapse {
        position: fixed;
        left: 110px;
        z-index: 20;
        padding-left: 0px;
        background: #292929;

    }

    .container > .navbar-header, .container > .navbar-collapse {
        margin-left: 0px;
        margin-right: 0px;
    }

    .widget-fixed .widget-header {
        width: 100%;
        top: 50px;
        left: 0px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {

    .container > .navbar-collapse {
        position: fixed;
        z-index: 20;
        background: #292929;
    }

}

@media (min-width: 992px) {

    .widget-fixed .widget-header {
        width: 940px;
    }
}

@media (min-width: 1200px) {

    .widget-fixed .widget-header {
        width: 1140px;
    }

}
