<div class="row-fluid">
    <div class="span8">
        <div class="widget" ng-cloak>
            <div class="widget-header"><em class="glyphicon glyphicon-user"></em>

                <h3>Agent Functions</h3>
            </div>
            <div class="widget-content" ng-cloak>
                <p><a href="/#/aaw/mco_lookup">MCO Lookup</a></p>
                <p><a href="/#/aaw/pnr_modification">PNR Modification</a></p>
                <p><a href="/#/aaw/ticket_status">Ticket Status</a></p>
                <p><a href="/#/aaw/stop_sale_nonarc">Refund/Void/Cancel NonArc</a></p>
                <p><a href="/#/aaw/stop_sale_nonair">Refund/Void/Cancel NonAir</a></p>
                <p><a href="/#/aaw/sale_modification">Modify a Sale</a></p>
                <p><a href="/#/crypto">Security Decryption</a></p>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="widget" ng-cloak>
            <div class="widget-header"><em class="glyphicon glyphicon-user"></em>

                <h3>User Profile</h3>
            </div>
            <div class="widget-content" ng-cloak>
                <div ng-cloak class='text-center' ng-show="cache.loading">
                    <img src="/img/ajax-loader.gif"/>
                </div>
                <div ng-cloak ng-show="!cache.loading" role="form" class="form-horizontal form-condensed">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">User</label>

                        <div class="col-sm-9 control-div">
                            {{active_user.id}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">CRS Id</label>

                        <div class="col-sm-9 control-div">
                            <small ng-show="!active_user.crs_id || active_user.crs_id === ' '">Unspecified</small>
                            {{active_user.crs_id}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>