<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>Login | Vanguard Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="http://www.google.com/fonts#UsePlace:use/Collection:Open+Sans"/>
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="css/bootstrap.gray.css" media="screen">
    <link rel="stylesheet" href="css/bootstrap.gray.responsive.css" media="screen">
    <link rel="stylesheet" href="css/signin.css"/>
    <script src="components/jquery/jquery.min.js"></script>
    <script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="components/bootbox/bootbox.js"></script>
</head>
<body>
<div class="background"></div>
<div class="container" ng-controller="login_controller">
    <div class="span5 offset3">
        <div class="widget stacked">
            <div class="widget-header">
            </div>
            <div class="widget-content">
                <form class="form-signin">
                    <div class="row">
                        <h2>Vanguard Site</h2>
                    </div>
                    <h2 class="form-signin-heading">Please log in</h2>
                    <input ng-model='username' id='username' type="text" class="form-control" placeholder="Username"
                           autofocus>
                    <input ng-model='password' id='password' type="password" class="form-control"
                           placeholder="Password">
                    <select class="form-control" ng-options="database.id as database.name for database in databases"
                            ng-model="database"></select>
                    <br>
                    <div ng-cloak class="alert alert-danger" ng-repeat="error in errors"><strong>- &nbsp;&nbsp;{{error}}</strong></div>
                    <button class="btn btn-lg btn-danger btn-block" ng-click="login()">Sign In</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
-->
<script src="components/angular/angular.js"></script>
<script src="components/angular-route/angular-route.min.js"></script>
<script src="lib/angular/angular-strap.min.js"></script>
<script src="lib/angular/ui-utils.min.js"></script>
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/filters.js"></script>
<script src="js/directives.js"></script>
</body>
</html>