/**
 * Created by Controller Generation Script on {{today}}.
 */
module.exports = {

    before: function(req, res, next) {

        next();

    },

    index: function(req, res) {
        
        vg.db[req.session.database].models.{{model_name}}.query('select * from {{table_name}}',function(err,data){
        
           res.send(data);
        
        });
    
    },

    show: function(req, res) {
        vg.db[req.session.database].models.{{model_name}}.query('select * from {{table_name}} where {{id_key}} = ' + req.params.id,function(err,data){
            if (err || !data) {
                res.send(401);
            } else {
                res.send(data);
            }
        });
    },

    update: function(req, res) {
        vg.db[req.session.database].models.{{model_name}}.query('select * from {{table_name}} where {{id_key}} = ' + req.params.id,function(errors,data){
            if (errors || !data) {
                res.send({errors: [errors]});
            } else {
                data[0].updateAttributes(req.body);
                data[0].save({},function(err,{{model_name_lower}}) {
                    if (err) {
                        res.send({errors: [err]});
                    } else {
                        res.send({{model_name_lower}});
                    }
                });
            }
        });
    },

    insert: function(req, res) {
        var {{model_name_lower}} = vg.db[req.session.database].models.{{model_name}}.create({});
        {{model_name_lower}}.updateAttributes(req.body);
            
        {{model_name_lower}}.save({},function(err, {{model_name_lower}}) {
            if (err) {
                res.send({errors: [err]});
            } else {
                res.send({{model_name_lower}});
            }
        });
    },

    destroy: function(req, res) {
        // Do be added at a later date
    }
};