module.exports = function(database, schema) {
    this.name = '{{model_name}}';
    return vg.model.define('{{model_name}}', {
        table_name: '{{table_name}}',
        "schema": schema,
        id_key: '{{id_key}}',
        "database": database,
        properties: {
          {{#properties}}
            "{{property_name}}": { "type": "{{type}}", "column_name": "{{column_name}}" },
          {{/properties}}
        },
        instanceFunctions: {
          
        },
        classFunctions: {
          
        }
      });
};